@import url("https://fonts.googleapis.com/css2?family=Yaldevi:wght@200&display=swap");

body {
  font-family: "Yaldevi", sans-serif;
}

/* Navbar styling */

#navbarSupportedContent {
  margin-left: 12px;
  margin-right: 12px;
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid;
  color: #9a8aec;
}

.carousel-inner {
  margin: auto;
}
